<div class="defaultForm elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.prefix_projection) }}{{ form_widget(form.configuration.prefix_projection) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.prefix_x) }}{{ form_widget(form.configuration.prefix_x) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.prefix_y) }}{{ form_widget(form.configuration.prefix_y) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.type) }}{{ form_widget(form.configuration.type) }}
    <div class="clearContainer"></div><div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    
</div>