<div id="{{ id }}" class="mb-element mb-element-zoomcoordinate hidden" data-title="{{ title |trans }}">
    <div class="mb-element-zoomcoordinate-text">{{ "Projection"|trans }} : </div>
    <select class="mb-element-zoomcoordinate-input"id ="zoomcoordinate-kosy">
    </select>
    <div class="mb-element-zoomcoordinate-text">{{ "x-coordinate"|trans }} : </div>
    <input class="mb-element-zoomcoordinate-input" id="input-x" type="text" maxlength="15" data-validate="[0-9\.]"/>
    <div class="mb-element-zoomcoordinate-text"> {{ "y-coordinate"|trans }} : </div>
    <input class="mb-element-zoomcoordinate-input" id="input-y" type="text" maxlength="15" data-validate="[0-9\.]"/>
</div>